*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: burlywood;


}
.box{
    width: 50%;
    display:flex;
    flex-direction: column;
    margin:20% auto;
    background-color: aqua;
    padding: 5%;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-bottom: 45%;
}